<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>My shopping list</h1>
  <h2>Ice Cream Flavor from {iceCream : 'vanilla'} : <%= iceCream %></h2>
  <h2>In mustache we would see Ice Cream Flavor from {iceCream : 'vanilla'} : {{iceCream}}</h2>
  <h2>Ice Cream Flavor from {iceCream : 'vanilla'} : < % = iceCream % ></h2>

  <h2>Cookie <%= cookie %></h2>

  <h2>I don't exist <%= candyCane %></h2>

</body>
</html>