<%- include('../partials/head.ejs') %>

<body>
  <%- include('../partials/header.ejs') %>
  <main></main>
  <h2><%= todo.task %></h1>
  <h3><%= todo.dueDate %></h2>

  <footer></footer>
</body>

</html>