<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Books</title>

  <link rel="stylesheet" href="style.css">

</head>
<body>
  <h1>Books</h1>
  <nav>
    <a href="/book-search">book search</a>
  </nav>
</body>
</html>