<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Books</title>

  <link rel="stylesheet" href="style.css">

</head>
<body>
  <h1>results</h1>

  <ul>
    <% for(let i = 0; i < titles.length; i++){ %>
      <li><%= titles[i] %></li>
    <% } %>
  </ul>
</body>
</html>