<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Books</title>

  <link rel="stylesheet" href="style.css">
</head>

<body>
  <h1>Books</h1>
  <nav>
    <a href="/book-search">book search</a>
  </nav>

  <form action="/book-search" method="POST">
    <fieldset>
      <legend>Search Books</legend>
      <label for="title">Title</label>
      <input type="text" name="title">

      <input type="submit" value="search by title">
    </fieldset>
  </form>

</body>

</html>