<header>
  <h1>Todo Site</h1>
  <nav>
    <ul>
      <li>
        <a href="/">Todo List</a>
      </li>
      <li>
        <a href="/profile">profile</a>
      </li>
      <li>
        <a href="/video-games">video games</a>
      </li>
      <li>
        <a href="/payments">payments</a>
      </li>
      <li>
        <a href="/friends">friends</a>
      </li>
    </ul>
  </nav>
</header>